---
import Layout from "../layouts/Layout.astro";
---
<!--TODO: add styles for slider + h6 + p + gallery images-->
<!--TODO: fade to bg-->
<!--TODO: align center-->
<!--TODO: add gallery images-->
<!--TODO: add slider-->
<!--TODO: add bar below navbar indicating that you are currently on home - have selected white others grayed out a bit-->
<!--TODO: remove spaces from mail address-->
<Layout>
    <div class="flex flex-auto h-lvh bg-[url(../img/Home_bg.jpg)] bg-cover">
        <div class="flex flex-col pb-4">
            <div class="max-w-[800px] p-6 items-center content-center text-white font-[Verdana] bg-black/70">
                <p>
                    Wir sind ein 1995 gegründetes Ultimate Frisbee Team aus Mödling.
                    Unsere gut 40 aktiven Mitglieder vereint die Begeisterung am Sport
                    mit der Frisbeescheibe. <br />
                    Der Verein umfasst folgende Teams:
                </p>
                <h6 class="m-4 font-medium">
                    - Winona Raiders
                </h6>
                <p>
                    Die Kampfmannschaft des Vereins trainiert zweimal pro Woche und
                    bereitet sich so nicht nur auf zahlreiche Turniere sondern auch
                    auf das Highlight der Saison, die Österreichischen Beach
                    Staatsmeisterschaften in Bibione, vor.
                </p>
                <h6>
                    - Privateers
                </h6>
                <p>
                    Mädchen und Burschen im Alter von 10 bis 15 spielen in unserem
                    Team "Privateers". Die Jugendmannschaft des Vereins trainiert
                    einmal pro Woche und nimmt an zahlreichen Turnieren im Jahr teil.
                </p>
                <p>
                    Alle, die einen fairen Teamsport ausüben möchten, sind bei uns
                    herzlich willkommen! Du suchst ein Frisbee-Team in Mödling? Melde
                    dich bei uns (
                    <a href={"mailto:info@winonaraiders.org"} class="underline text-cyan-700 hover:text-cyan-800 visited:text-purple-600">
                        info@winonaraiders.org
                    </a>
                    ) und schau vorbei, wir freuen uns auf dich!
                </p>
            </div>
        </div>
    </div>
</Layout>
