---

---

<div class="bg-[#333333]">
    <div class="flex justify-center text-center">
        <img
                src="/support_bar_township_moedling.png"
                alt="support banner township moedling"
                class="h-[60px] w-[424px] my-2"
        ></img>
    </div>
</div>
