---
import { Image } from "astro:assets";
---

<div class="bg-[#333333]">
    <div class="flex justify-center text-center">
        <Image class="my-2" height={60} width={424} loading="lazy" alt="support banner township moedling" src="/support_bar_township_moedling.png"/>
    </div>
</div>
