---

---

<div class="bg-[#333333]">
    <div class="flex justify-center text-center">
        <img class="m-2 w-full max-w-[424px] h-auto" width={424} height={60} src="/winona-raiders-website-dev/support_bar_township_moedling.png" alt="support banner township moedling"/> <!--TODO: REMOVE THIS BEFORE PUBLISH TO RAIDERS WEBSITE-->
    </div>
</div>
