---
import "../styles/global.css";
import { Footer } from '../components/Footer';
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>Winona Raiders</title>
    </head>
    <body class="flex flex-col min-h-screen">
    <div class="bg-[#333333] text-white">
        <div class="flex flex-row justify-center items-center">

            <h1 class="ml-6 mt-1 mb-3 text-center uppercase text-3xl font-raiders font-medium">Ultimate Frisbee Mödling</h1>

            <div class="flex ml-6 mt-1 mb-3 items-center">
                <a class="h-10 w-10 mx-2" href="https://www.instagram.com/winona_raiders/">
                    <img class="h-10 w-10" alt="instagram link" src="/instagram_logo.png"/>
                </a>
            </div>
        </div>
        <!--TODO: NavBar ripple effect + underline current page link .... focus:bg-[#666666] is placeholder-->
        <nav class="flex w-full items-center justify-around text-center uppercase text-[0.9rem] font-raiders">
            <a class="flex-1 p-3 focus:bg-[#666666]" href="/">Home</a>
            <a class="flex-1 p-3 focus:bg-[#666666]" href="/training">Training</a>
            <a class="flex-1 p-3 focus:bg-[#666666]" href="/juniors">Juniors</a>
            <a class="flex-1 p-3 focus:bg-[#666666]" href="/impressum">Impressum</a>
        </nav>
    </div>
        <main class="flex flex-col grow">
            <slot />
        </main>
        <Footer client:visible />
    </body>
</html>